{% extends 'main.html' %}

{% block title %}
    <title>Обработчик заявки на техническую поддержку</title>
{% endblock %}

{% block content %}
<h2>Заявка</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
           <h2 class="text-center">Бланкаявки</h2>
            <div class="well">
                {{ message }}
                <form action="/proposal/add/" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Пользователь</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control"  placeholder="{{ user }}" disabled>
                        </div>
                        <label  class="col-sm-1 control-label">Отдел</label>
                        <div class="col-sm-2">
                           <input type="nuber" class="form-control"  placeholder="{{ user.otdel }}" disabled>
                        </div>
                    </div>


                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Тип</label>
                        <div class="col-sm-2">
                            <select class="form-control" name = 'type'>
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label  class="col-sm-1 control-label">Важность</label>
                        <div class="col-sm-2">
                            <select class="form-control" name = "important">
                                {% for important in importants %}
                                    <option value="{{ important.id }}">{{ important }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       <label  class="col-sm-1 control-label">Статус</label>
                       <div class="col-sm-2">
                            <select class="form-control" name = "status">
                                {% for status in updates %}
                                    <option value="{{ status.id }}">{{ status }}</option>
                                {% endfor %}
                            </select>
                       </div>
                    </div>




                    <div class="form-group">
                        <label  class="col-sm-2 control-label">Специалист</label>
                        <div class="col-sm-2">
                            <select class="form-control" name = "spec">
                                {% for spec in specs %}
                                    <option value="{{ spec.id }}">{{ spec }}</option>
                                {% endfor %}
                            </select>

                        </div>
                       <label  class="col-sm-1 control-label">Тема</label>
                       <div class="col-sm-2">
                            <select class="form-control" name = "tema">
                                {% for tema in tems %}
                                    <option value="{{ tema.id }}">{{ tema }}</option>
                                {% endfor %}
                            </select>
                       </div>


                       <label for="date" class="col-sm-1 control-label">Сроки</label>
                       <div class="col-sm-2">
                            <input type="date" class="form-control" name="date_dead" placeholder="Сроки" >
                       </div>
                    </div>
                    <div class="form-group">
                        <label for="soder" class="col-sm-2 control-label">Краткое содержание</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="soder" name = "desc" placeholder="Краткое содержание"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="Создать Заявку" class="btn btn-primary"/>
                </form>


            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
{% endblock %}
