{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>Мои заявки</title>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/library/angular.min.js' %}"></script>
    <script src="{% static 'js/app/support_list.js' %}"></script>
{% endblock %}

{% block content %}
<h2>dfeffefefefd</h2>
  <div class="contaner-fluid" ng-app = "app" ng-controller="SupportListCtrl">
  <div class="row">
      <div class="col-md-1">
      </div>

      <div class="col-md-3" ng-if="data.user.is_staff">
        {% include 'includes/list_filters.html' %}
      </div>

      <div ng-class="{'col-md-7' : data.user.is_staff, 'col-md-10': !data.user.is_staff}">
          <div class="panel panel-primary">
             <div class="panel-heading">Список заявок</div>

              <div class="panel-body">
                 <div class="btn-group">
                  <button class="btn btn-default"
                    ng-class="{'btn-primary': filters.status == 'all'}"
                    ng-click="setStatus('all')">
                      Все
                  </button>
                  <button class="btn btn-default"
                    ng-class="{'btn-primary': filters.status == 'active'}"
                    ng-click="setStatus('active')">
                      Активные
                  </button>
                  <button class="btn btn-default"
                    ng-class="{'btn-primary': filters.status == 'close'}"
                    ng-click="setStatus('close')">
                      Закрытые
                  </button>
                </div>
                  {% verbatim %}
                  <div class="btn-group pull-right">
                      <div class="btn-group">
                        <button type="button" class="btn btn-info">Тема</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Меню с переключением</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat = "tema in data.tems | filter : filteredTemaByOtdel(filters.otdel_obj)
                                | filter : filteredTemaByConfigur(filters.configuration)"
                                ng-class="{'active': filters.tema == tema.id}"
                                ng-click="setTema(tema.id)">
                                <a href="#">{{ tema.name }}</a>
                            </li>
                        </ul>
                      </div>

                      <div class="btn-group">
                        <button type="button" class="btn btn-danger">Важность</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Меню с переключением</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat = "important in data.importants"
                                ng-class="{'active': filters.important == important.id}"
                                ng-click="setImportant(important.id)">
                                <a href="#">{{ important.name }}</a>
                            </li>
                        </ul>
                      </div>
                  </div>
                  {% endverbatim %}
              </div>
              <ul class="list-group">
                  {% verbatim %}
                  <li class="list-group-item" ng-repeat="support_req in data.support_reqs | filter : filteredStatus(filters.status)
                  | filter : {creator : {otdel : {id : filters.otdel}}, configuration_1c : {id : filters.configuration},
                    vajnost : {id: filters.important}, tema : {id : filters.tema} } as filteredSupport">
                    <div class="media">
                        <div class="media-body">
                        <h4 class="media-heading">
                            <a href="/proposal/detail/{{ support_req.id }}/">Заявка#{{ support_req.id }}_{{ support_req.creator.username }}
                            </a>
                            <small>:{{ support_req.creator.otdel.name }}</small>
                        </h4>
                        <blockquote>
                            <ul class="list-unstyled">
                                <li>Специалист: <span class="label label-info">{{support_req.spec.username}}</span></li>
                                <li>Версия 1С: <span class="label label-primary">{{support_req.configuration_1c.name}}</span></li>
                                <li>Тема: <span class="label label-default">{{support_req.tema.name}}</span></li>
                                <li>Тип: <span class="label label-warning">{{support_req.type.name}}</span></li>
                                <li>Статус: <span class="label label-success">{{support_req.status.name}}</span></li>
                                <li>Важность: <span class="label label-danger">{{support_req.vajnost.name}}</span></li>
                                <li>Сроки : <span class="label label-primary">{{support_req.date}} - {{support_req.srok}}</span></li>
                            </ul>
                        </blockquote>
                        <h4>Описание проблемы</h4>
                        <div class="well">
                            <p>{{support_req.desc}}</p>
                        </div>
                        </div>
                        <div class="media-right" ng-if="support_req.creator.id == data.user.id">
                            <a class="btn btn-warning" href="/proposal/detail/{{ support_req.id }}/edit/">
                                Изменить
                            </a>
                        </div>
                    </div>

                  </li>
                  <h2 class = "text-center" ng-if="!filteredSupport.length">Данные не найдены :(</h2>
                  <h2 class = "text-center" ng-if="!data.support_reqs.length">Пока нет заявок :(</h2>
                  {% endverbatim %}
              </ul>

          </div>
      </div>

      <div class="col-md-1">
      </div>
  </div>


  </div>
{% endblock %}