{% extends 'main.html' %}

{% block title %}
    <title>Мои заявки</title>
{% endblock %}

{% block content %}
<h2>dfeffefefefd</h2>
  <div class="contaner-fluid">
  <div class="row">
      <div class="col-md-1">

      </div>

      <div class="col-md-10">

          <div class="panel panel-primary">
             <div class="panel-heading">Список заявок</div>

              <div class="panel-body">
                 <div class="btn-group">
                  <a href="/proposal/list/all/" class="btn {% if status == 'all' %} btn-primary {% else %} btn-default {% endif %}">Все</a>
                  <a href="/proposal/list/active/" class="btn {% if status == 'active' %} btn-primary {% else %} btn-default {% endif %}">Активные</a>
                  <a href="/proposal/list/close/" class="btn {% if status == 'close' %} btn-primary {% else %} btn-default {% endif %}">Закрытые</a>
                </div>

              </div>
              <ul class="list-group">
                  {% for support_req in support_reqs %}
                  <li class="list-group-item">
                    <div class="media">
                        <div class="media-body">
                        <h4 class="media-heading">
                            <a href="/proposal/detail/{{ support_req.id }}/">Заявка#{{ support_req.id }}_{{ support_req.creator }}
                            </a>
                            <small>:{{ support_req.creator.otdel }}</small>
                        </h4>
                        <blockquote>
                            <ul class="list-unstyled">
                                <li>Специалист: <span class="label label-info">{{support_req.spec}}</span></li>
                                <li>Тема: <span class="label label-default">{{support_req.tema}}</span></li>
                                <li>Тип: <span class="label label-warning">{{support_req.type}}</span></li>
                                <li>Статус: <span class="label label-success">{{support_req.status}}</span></li>
                                <li>Важность: <span class="label label-danger">{{support_req.vajnost}}</span></li>
                                <li>Сроки : <span class="label label-primary">{{support_req.date}} - {{support_req.srok}}</span></li>
                            </ul>
                        </blockquote>
                        <h4>Описание проблемы</h4>
                        <div class="well">
                            <p>{{support_req.desc}}</p>
                        </div>
                        </div>
                        {% if not user.is_staff %}
                        <div class="media-right">
                            <a class="btn btn-warning" href="/proposal/detail/{{ support_req.id }}/edit/">
                                Изменить
                            </a>
                        </div>
                        {% endif %}
                    </div>

                  </li>
                  {% empty %}
                      <h2 class = "text-center">Пока нет заявок :(</h2>
                  {% endfor %}
              </ul>

          </div>
      </div>

      <div class="col-md-1">
      </div>
  </div>


  </div>
{% endblock %}